.gtc {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.ttc {
  font-family: "Bebas Neue", sans-serif;
  font-size: 98px;
  letter-spacing: 2px;
}
.filter-buttons > button {
  border: 2px solid black;
  border-radius: 3px;
  background-color: rgb(86, 86, 249);
  color: white;
  margin-right: 10px;
}
.filter-buttons > button:hover {
  background-color: #143a62;
}
.filter-buttons > button:visited {
  background-color: #555;
}
.t1 {
  text-decoration: none;
}
.post-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 20px;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.post-card:hover {
  color: rgb(8, 177, 250);
}
.post-card:hover .post-link {
  color: rgb(8, 177, 250);
}
#post-list .col {
  display: none;
}
#post-list .col.visible {
  display: block;
}
.post-img {
  width: 160px;
  height: 110px;
  object-fit: cover;
  border-radius: 4px;
  margin-left: 20px;
}
.post-title {
  font-weight: bold;
  font-size: 20px;
}
.post-link {
  text-decoration: none;
  color: #0d6efd;
}
.post-link:hover {
  text-decoration: underline;
}
.post-date {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
}
.load-more-wrapper {
  text-align: center;
  margin-top: 20px;
}
.load-more-btn {
  background: none;
  border: none;
  color: #007bff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.load-more-btn .plus-icon {
  font-size: 24px;
  margin-right: 6px;
  vertical-align: middle;
}
.custom-hr {
  border: none;
  height: 5px;
  background-color: #007bff;
  width: 1000px;
  margin: 20px auto;
  border-radius: 2px;
}
